.about {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100vh;
    .about-wrapper {
        height: 100%;
        display: flex;
        background: linear-gradient(to right, #f8f8f8 0%, #f8f8f8 30%, #131111 30%, #131111 100%);

        .about-title {

            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $primary;

            span {
                font-size: 6.5rem;
                font-weight: 700;
                font-family: $second-font-family;
            }
        }

        .about-description {
            color: #fff;
            width: 60%;
            display: flex;
            flex-direction: column;
            padding: 100px;
            justify-content: center;
            line-height: 1.6;

            h1 {
                font-size: 32px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 30px;
                line-height: 1;
            
                span {
                    font-size: 20px;
                    display: block;
                    font-style: italic;
                    margin-left: 20px;
                    opacity: 0.6;
                }
            }
            
            p {
                margin-bottom: 30px;
                line-height: 1.4;
                font-size: 14px;
            }
            a{
                color: $primary;
            }
            &.active {
                &:before {
                    content: '';
                    z-index: 0;
                    display: block;
                    background: #ffcb11;
                    width: 100%;
                    height: 6px;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                }
            }


        }
    }
}
