.work {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100vh;
    background: linear-gradient(to right, #131111 0%, #131111 30%, #fff 30%, #fff 100%);
    display: flex;
    .my-work-title {
        width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        span {
            font-size: 5rem;
            font-weight: 700;
            font-family: $second-font-family; 
            color: $light-grey;
        }
    }
    .work-files{
        color: #fff;
        width: 60%;
        margin-left: 10px;
        display: flex;
        p{
            color: $primary;
        }
        .website-photos{

        }
    }
}