* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px calc(100% - 100px) 50px;
  grid-template-rows: 50px calc(100vh - 100px) 50px;
  background-color: #fff;
  height: 100vh;
  transition: all 0.5s ease-out;
  overflow: 3;
}
.grid-container .grid-item {
  position: relative;
}

.menu-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.menu-wrapper .menu ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
  opacity: 0;
  animation: menu 0.2s ease-in forwards;
  animation-delay: 0.5s;
  position: relative;
}
.menu-wrapper .menu ul li {
  padding: 0 10px;
  position: relative;
  z-index: 1;
  list-style-type: none;
}
.menu-wrapper .menu ul li a {
  line-height: 1;
  display: block;
  position: relative;
  z-index: 2;
}
.menu-wrapper .menu ul li.active:before {
  content: "";
  z-index: 0;
  display: block;
  background: #ffcb11;
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

@keyframes menu {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.content-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100vh;
}
.content-wrapper .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.content-wrapper .content .hello-message-wrapper {
  background: linear-gradient(to right, #f1b32a 0%, #f1b32a 50%, #f8f8f8 50%, #f8f8f8 100%);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content-wrapper .content .hello-message-wrapper .hello-message {
  font-size: 8.5rem;
  font-weight: 900;
  letter-spacing: 8px;
  font-family: "Raleway", sans-serif;
}
.content-wrapper .content .hello-message-wrapper .hello-message span {
  color: #f1b32a;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.social-media a {
  color: #000;
}
.social-media a i {
  padding: 5px 0;
}

.about {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100vh;
}
.about .about-wrapper {
  height: 100%;
  display: flex;
  background: linear-gradient(to right, #f8f8f8 0%, #f8f8f8 30%, #131111 30%, #131111 100%);
}
.about .about-wrapper .about-title {
  width: 30%;
  display: flex;
  align-items: center;
  color: #f1b32a;
  justify-content: center;
}
.about .about-wrapper .about-title span {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.about .about-wrapper .about-description {
  color: #fff;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
  line-height: 1.6;
}
.about .about-wrapper .about-description h1 {
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  line-height: 1;
}
.about .about-wrapper .about-description h1 span {
  font-size: 20px;
  display: block;
  font-style: italic;
  margin-left: 20px;
  opacity: 0.6;
}
.about .about-wrapper .about-description p {
  margin-bottom: 30px;
  line-height: 1.4;
  font-size: 14px;
}
.about .about-wrapper .about-description a {
  color: #f1b32a;
}
.about .about-wrapper .about-description.active:before {
  content: "";
  z-index: 0;
  display: block;
  background: #ffcb11;
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.work {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100vh;
  background: linear-gradient(to right, #131111 0%, #131111 30%, #fff 30%, #fff 100%);
  display: flex;
}
.work .my-work-title {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .my-work-title span {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #f8f8f8;
}
.work .work-files {
  color: #fff;
  width: 60%;
  margin-left: 10px;
  display: flex;
}
.work .work-files p {
  color: #f1b32a;
}
.film {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.film .films-content {
  height: 100%;
  width: 100%;
}
.film .films-content .wrapper-films-content {
  height: 100%;
}
.film .films-content .wrapper-films-content .films-content-slider {
  height: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.film .films-content .wrapper-films-content .films-content-slider .slider-for {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  color: black;
  padding: 20px;
  line-height: 1.6;
}
.film .films-content .wrapper-films-content .films-content-slider .slider-for h2 {
  margin-bottom: 15px;
  color: #f1b32a;
}
.film .films-content .wrapper-films-content .films-content-slider .slider-for h4 {
  margin-bottom: 10px;
}
.film .films-content .wrapper-films-content .films-content-slider .slider-nav {
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}
.film .films-content .wrapper-films-content .films-content-slider .slick-arrows {
  width: 7%;
  background: #f1b32a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
