@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $base-font-family;
    transition: all 0.25s ease-in-out;
    }

.grid-container{
    display: grid;
    grid-template-columns: 3% 94% 3%; //1fr 8fr 1fr;
    background-color: #fff;
    transition: all 0.5s ease-out;
    
    .first{
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 10px 0;
        .span-cv{
            float: right;
        }

    }
    .third{
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .menu-wrapper{
            cursor: pointer;
            transform: rotate(-90deg) translateY(30%);
            transform-origin: center center;
        .menu-line{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            align-items: flex-end;
            span{
                background-color: #000;
                width: 2px;
                height: 25px;
                display: block;
                margin: 0 2px;
               
            }
            span:nth-child(1){
                height: 15px;
            }
            span:nth-child(3){
                height: 20px;
            }
        }
        .menu-text{
            display: flex;
            justify-content: center;
            span{
                font-size: 10px;
                font-weight: 700;
                letter-spacing: 2px;
            }
        }
        }
        .exit-wrapper{
            display: none;
        }
    }
    .menu-wrapper:hover{
        .third{
            width: 100px !important;
            z-index: 1;
        }
        .menu-line{
            span:nth-child(1){
                height: 25px;
            }
            span:nth-child(2){
                height: 40px;
            }
            span:nth-child(3){
                height: 30px;
            }
        }
        .menu-text {
            span:nth-child(2),
            span:nth-child(4) {
                transform: translateY(-15%);
            }
            span:nth-child(1),
            span:nth-child(3) {
                transform: translateY(15%);
            }
        }
    }
  
    .grid-item.four{
        background: linear-gradient(to right,  $primary 0%, $primary 50%,#f8f8f8 50%,#f8f8f8 100%);
        height: 550px;
        .hello-message-wrapper{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .hello-message{
                font-size: 8.5rem;
                font-weight: 700;
                font-family: $second-font-family;
                span{
                    color: $primary;
                }
            }
        }
        .menu-list{
            display: none;
            ul{
                list-style: none;
                line-height: 1.6;
                a{
                    color: #000;
                    text-decoration: none;
                    li{
                        font-size: 2rem;
                        font-weight: 700;
                        font-family: Roboto Slab, sans-serif;
                    }
                }

            }
            .addresse{
                display: flex;
                flex-direction: column;
                .street{
                    font-size: 0.8rem;
                    line-height: 1.4;
                    
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 650;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .five{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        a{
            color: #000;
            i{
                padding: 5px 0;
            }
        }
    }
    .six{
        grid-column-start: 1;
        grid-column-end: 4;
    
    }

}