.work {
    grid-column-start: 2;
    grid-column-end: 3;
    background: linear-gradient(to right, #131111 0%, #131111 30%, #fff 30%, #fff 100%);
    display: flex;

    .my-work-title {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 5rem;
            font-weight: 700;
            font-family: $second-font-family;
            color: $light-grey;
        }
    }

    .work-files {
        color: #fff;
        width: 70%;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        p {
            color: $primary;
        }

        .site {
            width: 100%;
            margin-left: 10px;
        }

        .jsfiddle {
            width: 100%;
            margin-left: 10px;
        }

        .xd {
            width: 100%;
            margin-left: 10px;
        }
        .card:last-child{
            margin-bottom: 0;
        }
        .card-content {
            display: flex;
            align-items: center;

            p {
                color: $secondary;
                line-height: 1.6;
            }
        }
    }
}