.grid-container {
    display: grid;
    grid-template-columns: 50px calc(100% - 100px) 50px;
    background-color: #fff;
    transition: all 0.5s ease-out;
    overflow: 3;
    .grid-item {
        position: relative;
    }
}