<section class="article-gallery-wrapper my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">/ Media Gallery</h1>
        </div>
        <div *ngFor="let image of albums | slice:0:3; let i=index " [ngClass]="getClass(i)">
            <img [src]="image.thumb" (click)="open(i)" class="w-100" />
            <div *ngIf="albums.length > 3 && i === 2" class="article-extra-images" (click)="open(i)"> +
                {{ albums.length - 3 }}</div>
        </div>
    </div>
</section>