<div class="row">
    <div class="col-12">
        <h1 class="text-center my-5">/ Filmography</h1>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card-movie-wrapper card-movie-wrapper--centered">
                    <div class="card-movie-carousel">
                        <div class="card-movie card-movie--light card-movie--active">
                            <div class="poster">
                                <img src="/assets/images/poster.png" alt="" class="h-100">
                            </div>
                            <div class="card-movie__content">
                                <div class="card-movie__title">HOPE</div>
                                <div class="card-movie__details">
                                    <span class="card-movie__details-item">2018</span>
                                    <span class="card-movie__details-item">18 min</span>
                                    <ul class="card-movie__details-item card-movie__details-list">
                                        <li>Documentary </li>
                                        <li>Drama</li>
                                    </ul>
                                </div>
                                <div class="card-movie__description">
                                    <h5>Synopsis</h5>
                                    <p>A film about the day to day reality of a woman who fights with an ugly disease.
                                        Her story is the
                                        story of a lot of people this days, cancer being a common thing nowadays and a
                                        very painful one.</p>
                                    <h5>Nominations</h5>
                                    <p>Transilvania International film Festival 2019 (Romanian Days-Short section),
                                        Docuart Fest 2018 and
                                        CinéDOC-Tbilisi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-movie-navigation">
                        <a href="http://" target="_blank" rel="noopener noreferrer">Watch trailer</a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-movie-wrapper card-movie-wrapper--centered">
                    <div class="card-movie-carousel">
                        <div class="card-movie card-movie--light card-movie--looper card-movie--active">
                            <div class="card-movie__content">
                                <div class="card-movie__title">Fragment 22</div>
                                <div class="card-movie__details">
                                    <span class="card-movie__details-item">2016</span>
                                    <span class="card-movie__details-item">17 min</span>
                                    <ul class="card-movie__details-item card-movie__details-list">
                                        <li>Fiction </li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                                <div class="card-movie__description">
                                    <h5>Synopsis</h5>
                                    <p>December 22nd, 1989. In a village from the Sălaj country the spirit of the
                                        Revolution plays out not
                                        exactly as in the rest of the country. We witness what's happening through the
                                        eyes of a young
                                        policeman.</p>
                                    <h5>Nominations</h5>
                                    <p>Transilvania International film Festival 2017 (Romanian Days-Short section) and
                                        "Autumn at Voronet"
                                        International Film Festival 2017. Screenings at the "White Night of the Romanian
                                        Film", TIFF Chisinau.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-movie-navigation">
                        <a href="https://www.youtube.com/watch?v=EYUiTr7KXUQ" target="_blank"
                            rel="noopener noreferrer">Watch full movie</a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card-movie-wrapper card-movie-wrapper--centered">
                    <div class="card-movie-carousel">
                        <div class="card-movie card-movie--light card-movie--looper card-movie--active">

                            <div class="card-movie__content">
                                <div class="card-movie__title">Pluto is not in the film</div>
                                <div class="card-movie__details">
                                    <span class="card-movie__details-item">2014</span>
                                    <span class="card-movie__details-item">5 min</span>
                                    <ul class="card-movie__details-item card-movie__details-list">
                                        <li>Fiction </li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                                <div class="card-movie__description">
                                    <h5>Synopsis</h5>
                                    <p>A girl carrying a luggage. A desperate phone call. A storm and 2 men. The result:
                                        a short story with
                                        an unexpected ending.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-movie-navigation">
                        <a href="https://www.youtube.com/watch?v=BwAecMBMLAg" target="_blank"
                            rel="noopener noreferrer">Watch full movie</a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>