<section class="my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5">/ Social Media</h1>

            <div class='buttons-container d-flex justify-content-center align-items-center'>
                <a href="https://github.com/sandra02" class="button github">
                    <fa-icon class="" [icon]="['fab' , 'github']"></fa-icon>
                </a>
                <a href="https://jsfiddle.net/user/SandraRad/fiddles/" class="button jsfiddle">
                    <fa-icon class="" [icon]="['fab' , 'jsfiddle']"></fa-icon>
                </a>
                <a href="https://www.facebook.com/rad.sandra" class="button facebook">
                    <fa-icon class="" [icon]="['fab' , 'facebook']"></fa-icon>
                </a>

                <a href="https://www.instagram.com/sandra_cristina_rad/" class="button instagram">
                    <fa-icon class="" [icon]="['fab' , 'instagram']"></fa-icon>
                </a>
                <a href="https://www.youtube.com/channel/UCdRbEVn5jvUevZwVqpHrceA" class="button youtube mr-0">
                    <fa-icon class="" [icon]="['fab' , 'youtube']"></fa-icon>
                </a>

            </div>

        </div>
    </div>
</section>